students {
    display: block;
    font-family: 'Times New Roman';
}

student {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

name {
    display: block;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

email, age, course {
    display: block;
    color: grey;
}

